/* spacers */
[class*="spacer"] {
  clear: both;
  width: 100%;
}
.spacer-xl {
  height: var(--sp-xl);
}
.spacer-lg {
  height: var(--sp-lg);
}
.spacer-md {
  height: var(--sp-md);
}
.spacer-sm {
  height: var(--sp-sm);
}
.spacer-xs {
  height: var(--sp-xs);
}

a,
a:active,
a:hover,
a:link,
a:visited {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}
a,
iframe {
  outline: 0;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  line-height: 130%;
  font-weight: 600;
  font-family: "Tektur", sans-serif;
}

.h1,
.h2,
.h3,
b,
h1,
h2,
h3,
strong {
  font-weight: 600;
}
.white {
  color: #fff;
}
a {
  color: inherit;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
iframe {
  border: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}
.h1,
h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.h2,
h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.h3,
h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 1450px) {
}
@media (max-width: 1200px) {
  .h1,
  h1 {
    font-size: 50px;
    line-height: 58px;
  }
}
@media (max-width: 768px) {
  .h1,
  h1 {
    font-size: 42px;
    line-height: 50px;
  }
  .h2,
  h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .h3,
  h3 {
    font-size: 20px;
    line-height: 28px;
  }
}


.shopify-policy__container{
  padding: 70px 0;
} 
.shopify-policy__body > div >* ,
.shopify-policy__body > * {
  margin-bottom: 20px;
  line-height: 1.5;
}

.shopify-policy__body table{
    border:1px solid #ccc;
    border-spacing: inherit;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px 0 30px;
}

.shopify-policy__body th,
.shopify-policy__body td{
    border:1px solid #ccc;
    padding:5px 10px;
    font-size: 16px;
}
.shopify-policy__body td{
  font-size: 14px;
} 
.shopify-policy__title{
  margin-bottom: 40px;
}